body {
  background-color: #feefe5;
      }
a.one, a.two, a.three, a.four, a.five, a.six, a.seven, a.eight{
  display: block;
  padding: 8px;
  background-color: #048ba8;
  text-decoration: none;
  color: black;
  font-size: 25px;
  border: solid, #1B4965, 2px;
      }
a.one:hover, a.two:hover, a.three:hover, a.four:hover, a.five:hover, a.six:hover, a.seven:hover, a.eight:hover{
  background-color:#08a9cbff;
       } 
.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
       }
.link{
  float: left;
      }
.nav {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  background-color: #048ba8;
  border: 3px solid #1B4965;
  z-index: 500;
      }
.hidden_menu {
  display: none;
  width: 11vw;
}
.hidden_menu:hover{background-color: red;}

.menuitm, button {
  display: none;
}

#page1 .one {
  background-color: #62b6cb;
}
#page2 .two {
  background-color: #62b6cb; 
}
#page3 .three {
  background-color: #62b6cb; 
}
@media(max-width:900px){
  
  .hide{display:none;}
  .hidden_menu{display:block;}
  .link{float:right;}
  .one, .two, .three, .four, .five, .six, .seven, .eight {pointer-events:none;}
  #page1 .one {background-color: #048ba8;}
  #page2 .two {background-color: #048ba8; }
  #page3 .three {background-color: #048ba8;}
  
.dropbtn {
  background-color: rgba(34,34,34,1);
  padding: 16px;
  font-size: 16px;
  border: none;
  display: block;
}

.dropdown {
  background-color: rgba(34,34,34,1);
  position: relative;
  display: inline-block;
}
 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(65,61,55,1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(65,61,55,1);
  z-index: 1;
}
.dropdown-content, .menuitm {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: none;
}

.dropdown-content .menuitm:hover {background-color: #d57425;}

.dropdown:hover .menuitm {display: block;}

.dropdown:hover .dropbtn {background-color: rgba(74,68,62, 1);}
}
