body {
  background-color: #E2CFEA;
}

h1 {
  background-color: #A06CD5
}
a.one, a.two, a.three, a.four, a.five{
  display: block;
  padding: 10px;
  background-color: #A06CD5;
  text-decoration: none;
  color: #062726;
  font-size: 35px;
  border: solid, #1B4965, 2px;
  font-family: Garamond;
      }
a.one:hover, a.two:hover, a.three:hover, a.four:hover, a.five:hover {
  background-color: #CBAADA;
  
       } 
.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
       }
.link{
  float: left;
      }
.nav {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  background-color: #A06CD5;
  border: 3px solid #062726;
  z-index: 500;
      }
.site-links {
  position: relative;
  font-weight: bold;
  font-size: 30px;
  left: 100px;
  top: 50px;
  width: 50%;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  position: relative;
  top: 100px;
  left: 300px;
  grid-gap: 20px;
}
.foot {
  text-decoration: none;
}
.foot:hover {
    color: #E2CFEA;
}
