html {
  scroll-behavior: smooth;
}
body {
  background-color: #e77d11;
  font-family: Monospace;
}
h1 {
  color: 	#451804;
}
a.one{
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 3vw;
  color: #451804;
      }
a.one:hover {
  background-color: #fda600;
       } 
.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
       }
.link{
  float: left;
  
      }
.nav {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  z-index: 500;
  background-color:	#c1440e;
  border: 3px solid #451804;
  display: flex;
  justify-content: center;
  height: 74px;
      }
.mars-image {
  width: 8vw;
}
.header {
  position: absolute;
  top: 72px;
  width: 100%;
  left:0;
}
.top {
  position: relative;
  top: 800px;
  text-align: center;
  font-size: 4vw;
  height: 500px;
}
@media(max-width:540px){.nav{height: 10vw;}a.one{font-size:4.2vw;}.mars-image{width:15vw;}.header{top:50px;}}
@media(max-width:440px){.header{top:35px;}}
