html {
  scroll-behavior: smooth;
}
body {
  background-color: #e77d11;
  font-family: Monospace;
}
h1 {
  color: 	#451804;
}
a.one{
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 3vw;
  color: #451804;
      }
a.one:hover {
  background-color: #fda600;
       } 
.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
       }
.link{
  float: left;
  
      }
.nav {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  z-index: 500;
  background-color:	#c1440e;
  border: 3px solid #451804;
  display: flex;
  justify-content: center;
  height: 74px;
      }
.mars-image {
  width: 8vw;
}
.header {
  position: absolute;
  top: 72px;
  width: 100%;
  left:0;
}
.top {
  position: relative;
  top: 800px;
  text-align: center;
  font-size: 4vw;
  height: 500px;
}
#book {
  position: fixed;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s linear;
  z-index: 700;
  width: 40%;
  height: 50px;
  border-radius: 4px;
  background-color: #fda600;
  border: solid #451804 3px;
  font-size: 1.6vw
}
.book-button {
  display: flex;
  justify-content: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  top: 350px;
  left: -8px;
  width: 101%;
}
.site-links {
  position: relative;
  text-align: center;
  top: 30px;
  font-weight: bold;
  font-size: 2vw;
  width: 100%;
   color: #451804;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  position: relative;
  top: 50px;
  grid-gap: 20px;
  color: #451804;
}
.footer-box {
  text-decoration: none;
  font-size: 1vw;
  
}
.footer-box:hover {
  color: 	#fda600;
    }
.footer {
  grid-column: 1 / 4;
  background-color: #c1440e;
  height: 300px;
}
.right {
  text-align: right;
  position: relative;
  bottom: 20px;
}
.left {
  text-align: left;
  position: relative;
  top: 7.5px;
}
.img {
  width: 30vw;
  padding: 10px;
}
.image-box {
  display: flex;
  justify-content: center;
}
@media(max-width:540px){.nav{height: 10vw;}a.one{font-size:4.2vw;}.mars-image{width:15vw;}.header{top:50px;}.footer-box{font-size: 15px;}.logo_tab{width:73%;}.site-links{font-size: 25px;}.wrapper{top: 150px;}.top{200px;}}
@media(max-width:440px){.header{top:35px;}}
