body {
  margin: 0;
  overflow-y: scroll;
-webkit-overflow-scrolling: touch;
}
.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
       }
.link{
  float: left;
 }
.nav {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  background-color: white;
  border: 3px solid black;
  z-index: 500;
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 110px;
}
.page {
  text-decoration: none;
  font-size: 2.5vw;
  color: black;
  text-indent: 20px;
  padding: 10px;
}
.page:hover {
  color: #BCB8B1;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
.img {
  width: 15vw;
}
.cart-style {
  width: 6vw;
  float: right;
  padding: 10px;
}
.autocomplete {
  font-size: 15px;
  background-color: white;
  border: solid black 1px;
  border-radius: 3px;
  cursor: pointer;
}
form {
  position: fixed;
  left: 49%;
  top: 43px;
  z-index: 1000;
}
#myInput {
  border-radius: 3px;
  width: 300px;
}
.site-links {
  position: relative;
  text-align: center;
  top: 30px;
  font-weight: bold;
  font-size: 2vw;
  width: 100%;
   color: white;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  position: relative;
  top: 50px;
  grid-gap: 20px;
  color: white;
}
.footer-box {
  text-decoration: none;
  font-size: 1vw;
  
}
.footer-box:hover {
  color: 	#BCB8B1;
  cursor: pointer;
    }
.footer {
  grid-column: 1 / 5;
  background-color: black;
  height: 300px;
  width: 100%;
}
.autocomplete-items div:hover {
  background-color: #BCB8B1; 
}
.ship {
      width: 5%;
      padding: 10px;
    }
    .shipping {
      position: fixed;
      top: 110px;
      background-color: black;
      width: 100%;
      left: 0;
      color: white;
      font-size: 1.2vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
#rtrntp {
  opacity: 0;
  right: 1%;;
  position: fixed;
  bottom: 2%;
  border-radius: 1000px;
  font-size: 2vw;
  transition: opacity 0.5s;
  background-color: #BCB8B1;
}
#rtrntp:hover {
  background-color: #8A817C;
  cursor: pointer;
}
@media(max-width:540px){
  .footer-box {
    font-size: 3vw;
  }
  .site-links {
    font-size: 4vw;
  }
  .footer {
    height: 220px;
  }
  form {
    left: 18%;
    top: 80px;
  }
  #myInput {
    width: 200px;
  }
  .cart {
    position: fixed;
    right: 0;
  }
  .cart-style {
    width: 15vw;
  }
  .page {
    font-size: 6vw;
  }
  .img {
    width: 30vw;
  }
  .shipping {
    display: none;
  }
  #rtrntp {
    font-size: 7vw;
  }
}
