body {
  margin: 0;
}
.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
       }
.link{
  float: left;
 }
.nav {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  background-color: white;
  border: 3px solid black;
  z-index: 500;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.page {
  text-decoration: none;
  font-size: 30px;
  color: black;
  text-indent: 20px;
  padding: 10px;
}
.page:hover {
  color: #E15700;
}
html {
  scroll-behavior: smooth;
}
.img {
  width: 15vw;
}
.cart-style {
  width: 6vw;
  float: right;
  padding: 10px;
}
.autocomplete {
  font-size: 15px;
}
.site-links {
  position: relative;
  text-align: center;
  top: 30px;
  font-weight: bold;
  font-size: 2vw;
  width: 100%;
   color: white;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  position: relative;
  top: 50px;
  grid-gap: 20px;
  color: white;
}
.footer-box {
  text-decoration: none;
  font-size: 1vw;
  
}
.footer-box:hover {
  color: 	#fda600;
  cursor: pointer;
    }
.footer {
  grid-column: 1 / 5;
  background-color: black;
  height: 300px;
  width: 100%;
}
