body {
  background-color: #F8E178;
  
}
.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
       }
.link{
  float: left;
  font-family: Brush Script MT;
  font-size: 25px;
      }
.nav {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  background-color: #F08B0F;
  border: 3px solid #E15700;
  z-index: 500;
      }
