a.one, a.two, a.three, a.four, a.five, a.six{
  display: block;
  padding: 8px;
  background-color: #048ba8;
  text-decoration: none;
  color: black;
  font-size: 25px;
  border: solid, #1B4965, 2px;
      }
a.one:hover, a.two:hover, a.three:hover, a.four:hover, a.five:hover, a.six:hover{
  background-color:#08a9cbff;
       } 
.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
       }
.link{
  float: right;
      }
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: antiquewhite;
  border: 3px solid black;
  z-index: 500;
  height: auto;
  min-height: 50px;
      }
h1 {
  position: absolute;
  top: 50px;
}
.logo {
  position: relative;
  width: 20vw;
  top: 10px;
  min-height: 25px;
  min-width: 150px;
}
.menu_icon {
  width: 6vw;
  min-height: 40px;
  min-width: 40px;
}
.logo_tab {
  position: relative;
  width: 53.7%;
}
img {
  min-height: 25px;
}
