.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
       }
.link{
  float: right;
      }
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: antiquewhite;
  border: 3px solid black;
  z-index: 500;
  height: auto;
  min-height: 50px;
      }
h1 {
  position: absolute;
  top: 50px;
}
.logo {
  position: relative;
  width: 30vw;
  top: 10px;
  min-height: 25px;
  min-width: 230px;
}
.menu_icon {
  width: 6vw;
  min-height: 40px;
  min-width: 40px;
}
.logo_tab {
  position: relative;
  width: 56.5%;
}
img {
  min-height: 25px;
}
.dropbtn {
  background-color: antiquewhite;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  background-color: antiquewhite;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #FDDBC4;}


    .site-links {
  position: relative;
  font-weight: bold;
  font-size: 2vw;
  left: 100px;
  top: 30px;
  width: 50%;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  position: relative;
  top: 50px;
  grid-gap: 20px;
}
.footer-box {
  text-decoration: none;
  font-size: 1vw;
}
.footer-box:hover {
  color: #CBAADA;
    }
@media(max-width:540px){.footer-box{font-size: 15px;}.site-links{font-size:23px; left: 50px;}.logo_tab{width:73%;}}
